﻿<html>
<head>
    <title>MAQ Audit</title>
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/custom-design.css" />
    <link rel="stylesheet" href="~/Content/Site.css?Version=2" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="~/images/audit.ico" type="image/x-icon">
</head>
<body>
    <div class="container-fluid">
        <nav id="topPane" class="navbar fixed-top">
            <div class="navbarLeft">
                <div class="navbar-brand" href="#">
                    <img id="MAQLogo" src="/images/MAQSoftware_Logo1.png">
                </div>
                <div id="toolLabel">Audit Approval</div>
            </div>
            <div class="navbarRight">
                <div id="userLabelDiv">
                    <img src="/images/user.svg">
                    <span id="userLabel"></span>
                </div>
            </div>
        </nav>
    </div>
    <br /> <br />
    <div class="container" id="site-container">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div id="approvalHeader" class="form-group row">
                    <label class="col-md-12 col-form-label header-title">Approve/Reject</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Project Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="project-name-select" type="text" value="@ViewBag.ProjectName" disabled/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Project Manager Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="project-manager-name" type="text" value="@ViewBag.PMName" disabled/>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Audit Type</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="audit-type-select" type="text" value="@ViewBag.AuditType" disabled/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Audit</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="audit-select-box" type="text" value="@ViewBag.Date" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">P0 Comments</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="p0Comments" value="@ViewBag.P0Comments" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">P1 Comments</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="p1Comments" value="@ViewBag.P1Comments" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Reviewers</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="reviewers" value="@ViewBag.Reviewers" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Comments (Optional)</label>
                    <div class="col-sm-9">
                        <textarea id="ReviewComments" class="form-control" type="text" name="comments" placeholder="Please add comments here"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttonRow" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <form id="ApprovalForm" action='@ViewBag.EndPoint' method="post">
                            <input id="ApproveAudit" data-toggle="tooltip" title="Approves the audit and makes changes the state in database" class="auditPass" type="submit" value="Approve" />
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form id="RejectionForm" action='@ViewBag.EndPointFailed' method="post">
                            <input id="RejectAudit" data-toggle="tooltip" title="Rejects the audit and makes changes the state in database" class="auditPass" type="submit" value="Reject" />
                        </form>
                    </div>
                </div>
            </div>
        </div>	
    </div>
    <script src="~/Scripts/JQuery3.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap4.js"></script>
    <script src="~/Scripts/Approval.js"></script>
</body>
</html>