﻿<!DOCTYPE html>
<html>
<head>
    <title>MAQ Audit</title>
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/custom-design.css" />
    <link rel="stylesheet" href="~/Content/Site.css?Version=2" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="~/images/audit.ico" type="image/x-icon">
</head>
<body>
    <div class="container-fluid">
        <nav id="topPane" class="navbar fixed-top">
            <div class="navbarLeft">
                <div class="navbar-brand" href="#">
                    <img id="MAQLogo" src="/images/MAQSoftware_Logo1.png">
                </div>
                <div id="toolLabel">Audit Validation</div>
            </div>
            <div class="navbarRight">
                <div id="userLabelDiv">
                    <img src="/images/user.svg">
                    <span id="userLabel"></span>
                </div>
            </div>
        </nav>
    </div>
    <br /> <br />
    <div class="container" id="site-container">
        <br /><br />
              <div class="row">
                  <div id="PMApprovalMessage"class="col-md-12">
                      @ViewBag.Message
                      </div>
                  </div>
              </div>
    <script src="~/Scripts/bootstrap4.js"></script>
</body>
</html>