﻿<html>
<head>
    <title>MAQ Audit</title>
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link href="/Content/calendarstyle.css" rel="stylesheet" />
    <link href="/Content/demo-to-codepen.css" rel="stylesheet" />
    <link href="/Content/core.main.min.css" rel='stylesheet' />
    <link href='/Content/daygrid.main.min.css' rel='stylesheet' />
    <link href='/Content/timegrid.main.min.css' rel='stylesheet' />
    <link href="/Content/listmain.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css?Version=2" />
</head>
<body>
    <div id="loading">
        <div class="loader-1"></div>
    </div>
    <div class="container-fluid">
        <nav id="topPane" class="navbar fixed-top">
            <div class="navbarLeft">
                <div class="navbar-brand" href="#">
                    <a href="#"> <img id="MAQLogo" src="/images/MAQSoftware_Logo1.png"></a>
                </div>
                <div id="toolLabel">Consolidated Calendar</div>
            </div>
            <div class="navbarRight">
                <div id="navbar-calender" class="navbar-icon" data-toggle="tooltip" data-placement="bottom" title="Click to go to calendar home page">
                    <a href="/Calendar/CalendarView"><img src="/images/calendar.svg" /></a>
                </div>
                <div class="navbar-icon">
                    <div id="ulist" data-toggle="tooltip" data-placement="bottom" title="User List : Click on it to toggle between a list of all users" onclick="displayList()"><img src="/images/list.svg"></div>
                </div>
                <div id="userLabelDiv">
                    <img src="/images/user.svg">
                    <span id="userLabel"></span>
                </div>

            </div>
        </nav>
    </div>
    <br />
    <br />
    <div id="calendar-body">
        <div id="slide"><center><h3>GROUPS</h3></center><div id="slideContainer"> </div></div>
        <div id='calendar'>    </div>
        <div id="groups">
            <div id="desc"><center><h3>ATTENDEES</h3></center><p id="desc1"></p></div>
            <div id="userlist" style="display:none;">
                <center><h4>USERS LIST</h4><input id="source" placeholder="Enter name here" /></center>
                <div id="userinfo"></div>
            </div>
        </div>
    </div>
    <script src="/Scripts/fuse.min.js"></script>
    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    <script src="/Scripts/rrule.min.js"></script>
    <script src="/Scripts/popper.min.js"></script>
    <script src="/Scripts/tooltip.min.js"></script>
    <script src="/Scripts/core.main.min.js"></script>
    <script src='/Scripts/interaction.main.min.js'></script>
    <script src='/Scripts/daygrid.main.min.js'></script>
    <script src='/Scripts/timegrid.main.min.js'></script>
    <script src="/Scripts/listmain.min.js"></script>
    <script src="/Scripts/main.min.js"></script>
    <script src="/Scripts/demo-to-codepen.js"></script>
    <script src="/Scripts/calendar.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap4.js"></script>
</body>
</html>