﻿<html>
<head>
    <title>MAQ Audit</title>
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/custom-design.css" />
    <link rel="stylesheet" href="~/Content/Site.css?Version=2" />
    <link rel="icon" href="~/images/audit.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="hidden" id="loader-container">
        <div class="loader-1"></div>
    </div>

    <div class="container-fluid">
        <nav id="topPane" class="navbar fixed-top">
            <div class="navbarLeft">
                <div class="navbar-brand" href="#">
                    <img id="MAQLogo" src="/images/MAQSoftware_Logo1.png">
                </div>
                <div id="toolLabel">Update Checklist</div>
            </div>
            <div class="navbarRight">
                <div id="userLabelDiv">
                    <img src="/images/user.svg">
                    <span id="userLabel"></span>
                </div>
            </div>
        </nav>
    </div>
    <br /> <br />
    <div class="container" id="site-container">
        <br /><br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Audit Type</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="audit-type-select-update">
                            <option value="-1">Select</option>
                            @foreach (string type in ViewBag.AuditType)
                            {
                                <option>@type.Trim()</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <div id="requirement-checklist-update">
                </div>
                <br />
                    
            </div>
        </div>
        <div id="buttonRow" class="row hidden">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <button id="update-checklist-btn" onclick="updateChecklist();" class="auditPass" data-toggle="tooltip" title="Update the changes made in checklist"><span>Update</span></button>
                    </div>
                    <div class="col-md-6">
                        <button id="reset-checklist-btn" onclick="resetChecklist();" class="auditPass" data-toggle="tooltip" title="Reset the changes made in checklist"><span>Reset</span></button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title"></h4>
                    <button type="button" class="close" onclick="closePopUp()" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="modal-message"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" id="closeButton" onclick="closePopUp()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/JQuery3.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap4.js"></script>
    <script src="~/Scripts/updatechecklist.js?Version=2"></script>
</body>
</html>