﻿@model Audit_Tool.Models.EmbedConfig

<script src="https://npmcdn.com/es6-promise@3.2.1"></script>
<script src="~/Scripts/powerbi.js"></script>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div id="errorWrapper">
        <h2>
            Error
        </h2>
        <pre>
            @Model.ErrorMessage
        </pre>
    </div>

    return;
}
<html>
<head>
    <title>MAQ Audit</title>
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/custom-design.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css?Version=2" />

    <link rel="icon" href="~/images/audit.ico" type="image/x-icon">
</head>

<div class="container-fluid">
    <nav id="topPane" class="navbar fixed-top">
        <div class="navbarLeft">
            <div class="navbar-brand" href="#">
                <img id="MAQLogo" src="/images/MAQSoftware_Logo1.png">
            </div>
            <div id="toolLabel">Internal Audit Tool</div>
        </div>
        <div class="navbarRight">
            <div id="navbar-calender" class="navbar-icon">
                <a href="/Calendar/CalendarView"><img title="Calender" src="/images/calendar.svg" /></a>
            </div>
            <div id="report-bug" class="navbar-icon">
                <a href="mailto:harshl@maqsoftware.com; ravikumart@maqsoftware.com; milindr@maqsoftware.com; meghad@maqsoftware.com?Subject=[Audit Tool]:" target="_top" title="Report a bug">
                    <img src="~/images/malware.svg" />
                </a>
            </div>
          

        </div>
    </nav>
</div>
<br />
<br />
<div class="container" id="site-container">

    <div id="embedContainer"></div>

</div>
<script>
        // Read embed application token from Model
        var accessToken = "@Html.Raw(Model.EmbedToken)";

        // Read embed URL from Model
        var embedUrl = "@Html.Raw(Model.EmbedUrl)";

        // Read report Id from Model
        var embedReportId = "@Model.Id";

        // Get models. models contains enums that can be used.
        var models = window['powerbi-client'].models;

        // Embed configuration used to describe the what and how to embed.
        // This object is used when calling powerbi.embed.
        // This also includes settings and options such as filters.
        // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
        var config = {
            type: 'report',
            tokenType: models.TokenType.Embed,
            accessToken: accessToken,
            embedUrl: embedUrl,
            id: embedReportId,
            permissions: models.Permissions.All,
            settings: {
                filterPaneEnabled: true,
                navContentPaneEnabled: true
            }
        };

        // Get a reference to the embedded report HTML element
        var reportContainer = $('#embedContainer')[0];

        if ("@Model.Username" != "") {
            $("#RLS").prop('checked', true);
            $("#RLSdiv").show();
        }
        else {
            $("#RLS").prop('checked', false);
            $("#RLSdiv").hide();
        }

        if ("@Model.IsEffectiveIdentityRequired.GetValueOrDefault()" == "True") {
            $("#noRLSdiv").hide();
            $("#RLS").removeAttr("disabled");
            $("#RLS").change(function () {
                if ($(this).is(":checked")) {
                    $("#RLSdiv").show(500);
                } else {
                    $("#RLSdiv").hide(200);
                }
            });
        }
        else {
            $("#noRLSdiv").show();
        }
        // Embed the report and display it within the div container.
        var report = powerbi.embed(reportContainer, config);
</script>
