﻿<html>
<head>
    <title>MAQ Audit</title>
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/custom-design.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css?Version=4" />
    
    <link rel="icon" href="~/images/audit.ico" type="image/x-icon">
</head>
<body>
    <div class="hidden" id="loader-container">
        <div class="loader-1"></div>
    </div>

    <div class="container-fluid">
        <nav id="topPane" class="navbar fixed-top">
            <div class="navbarLeft">
                <div class="navbar-brand" href="#">
                    <img id="MAQLogo" src="/images/MAQSoftware_Logo1.png">
                </div>
                <div id="toolLabel">Internal Audit Tool</div>
            </div>
            <div class="navbarRight">
                <div id="navbar-dashboard" class="navbar-icon"  data-toggle="tooltip" data-placement="bottom" title="Dashboard : Click here to view the Audit Tool Dashboard">
                    <a href="/Embedding/EmbedReport"><img src="~/images/report.svg" /></a>
                </div>
                <div id="navbar-calender" class="navbar-icon" data-toggle="tooltip" data-placement="bottom" title="Calendar : Click here to view consolidated calendar">
                    <a href="/Calendar/CalendarView"><img src="/images/calendar.svg" /></a>
                </div>
                <div id="navbar-autosave" class="navbar-icon" data-toggle="tooltip" data-placement="bottom" title="Auto-save : Changes to loader icon when autosave runs">
                    <img src="/images/autosave.svg">
                </div>
                <div id="navbar-autosave-sync" class="hidden navbar-icon" data-toggle="tooltip" data-placement="bottom" title="Autosaving...">
                    <div class="loader-autosave"></div>
                </div>
                
                <div id="checklist-div" class="navbar-icon hidden" data-toggle="tooltip" data-placement="bottom" title="Update Checklist : Click here to update checklist">
                    <a id="checklist-container"  href="/UpdateChecklist/updateChecklist">
                        <img src="/images/edit.svg"/>
                    </a>
                </div>
                <div id="report-bug" class="navbar-icon" data-toggle="tooltip" data-placement="bottom" title="Report a bug : Click here to report a bug about Audit Tool">
                    <a href="mailto:harshl@maqsoftware.com; ravikumart@maqsoftware.com; milindr@maqsoftware.com; meghad@maqsoftware.com?Subject=[Audit Tool]:" target="_top">
                        <img src="~/images/malware.svg" />
                    </a>
                </div>
                <div id="userLabelDiv">
                    <img src="/images/user.svg">
                    <span id="userLabel"></span>
                </div>
                
            </div>
        </nav>
    </div>

    <br /> <br />
    <div-- class="container" id="site-container">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div id="approvalHeader" class="form-group row">
                    <label class="col-md-12 col-form-label header-title">Enter Details</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">PM Name</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="project-manager-name">
                            <option>Loading</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Project Name</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="project-name-select">
                            <option>Please select a PM to proceed</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Audit Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="audit-type-select">
                            <option value="-1">Select</option>
                            @foreach (string type in ViewBag.AuditType)
                            {
                                <option>@type.Trim()</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Audit</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="audit-select-box">
                            <option value="-1">New Audit</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="reports-row" class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Reports</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="report-name-select">
                            <option>Select a project to proceed</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>*@
        <div id="creator-row" class="row hidden">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Creator</label>
                    <div class="col-sm-8">
                        <input id="creator-bag" class="form-control" type="text" name="creator" value="" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Audit Score</label>
                    <div class="col-sm-8">
                        <input id="score-bag" class="form-control" type="text" name="creator" value="" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div id="updaters-row" class="row hidden">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Updaters</label>
                    <div class="col-sm-10">
                        <input id="updaters-bag" class="form-control" type="text" name="updaters" value="" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div id="reviewers-row" class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Reviewers</label>
                    <div class="col-sm-10">
                        <input id="reviewers-bag" class="form-control" type="text" name="reviewers" placeholder="Please enter the reviewers' email addresse(s) (comma-separated)" value="" >
                    </div>
                </div>
            </div>
        </div>
        <div id="active-reviewer-row" class="row hidden">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Active Reviewers</label>
                    <div class="col-sm-10">
                        <input id="active-reviewer-bag" class="form-control" type="text" name="active-reviewers" value="" disabled>
                    </div>
                </div>
            </div>
        </div>
        @*new code for url start*@
        <div id="url-row" class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">URL</label>
                    <div class="col-sm-10">
                        <input id="url-bag" class="form-control" type="text" name="url" placeholder="Please enter appropriate url" value="">
                    </div>
                </div>
            </div>
        </div>
        @*code for url ends*@
        <div id="audit-reasons" class="hidden">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Frequency</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="frequency-select">
                                <option value="-1">Select</option>
                                <option value="Bi-weekly">Bi-weekly</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                                <option value="Quarterly">Quarterly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">POC</label>
                        <div class="col-sm-8">
                            <input id="poc-bag" class="form-control" type="text" name="poc" placeholder="Enter POC name" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Did the review happen?</label>
                        <div class="col-sm-10 my-auto">
                            <label class="col-form-label radio"><input type="radio" for="yes" value="yes-reason" name="radio-review" checked/><span>Yes</span></label>
                            <label class="col-form-label radio"><input type="radio" for="no" value="no-reason" name="radio-review" /><span>No</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reason-row" class="row hidden">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Reason</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="reason-select">
                            <option value="-1">Select</option>
                            <option value="Project team unavailable">Project team unavailable</option>
                            <option value="Review unavailable">Review unavailable</option>
                            <option value="Public holiday">Public holiday</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-comment-row" class="row hidden">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Comments</label>
                    <div class="col-sm-8">
                        <input id="comments-bag" class="form-control" type="text" name="form-comments" placeholder="Enter comments">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <div id="parent-sign-off">
                    <div class="row" id="sign-off-container">
                    </div>
                </div>
                
                <div id="requirement-checklist">

                </div>
                <br />
                <div id="form-btn-container" class="hidden">
                    @*Here we have implemented the table needed to display previous observations.
                      This table does not contain "table-responsive" class in the header. This was done to solve page fit issue*@
                    <fieldset id="prev-observations-table">
                        <legend class="table-legend text-center">Previous Observations</legend>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>P0 Observations</th>
                                    <th>P1 Observations</th>
                                </tr>
                            </thead>
                            <tbody id="all-observations">
                               
                            </tbody>
                        </table>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>P0 Observations</label>
                                <textarea class="form-control" id="p0-observations" placeholder="Leave the section blank instead of 'None', 'Nil', 'NA', etc"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>P1 Observations</label>
                                <textarea class="form-control" id="p1-observations" placeholder="Leave the section blank instead of 'None', 'Nil', 'NA', etc"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div id="dynamic_observations" class="hidden">
                    <div class="row" id="addition-row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Observations</label>
                                <input type="text" class="form-control" placeholder="Leave the section blank instead of 'None', 'Nil', 'NA', etc" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Severity</label>
                                <select class="form-control observation-severity">
                                    <option value="-1">Select</option>
                                    <option value="P0">P0</option>
                                    <option value="P1">P1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Area</label>
                                <select class="form-control observation-area">
                                    <option value="-1">Select</option>
                                    <option value="Security">Security</option>
                                    <option value="Performance">Performance</option>
                                    <option value="Availability">Availability</option>
                                    <option value="Scalability">Scalability</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Action</label>
                                <button type="button" name="add" id="add-observations-btn" class="btn btn-success">+</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Bug-id-container" class="hidden">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row col-sm-12">
                                <label>P0 Bug-Id</label>
                                <a target="_blank" id="P0BugRedirect" href=''>
                                    <input class="form-control" id="p0-bug" readonly="readonly">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row col-sm-12">
                                <label>P1 Bug-Id</label>
                                <a target="_blank" id="P1BugRedirect" href=''>
                                    <input class="form-control" id="p1-bug" readonly="readonly">
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div id="buttonRow" class="row hidden">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <button id="save-audit-btn" data-toggle="tooltip" title="Saves the audit in database but does not sends email" class="auditPass" value="Save"><span>Save</span></button>
                            </div>
                            <div class="col-md-6">
                                <button id="submit-audit-btn" data-toggle="tooltip" title="Saves the audit in database and sends email to reviewers and managers" class="auditPass" value="Submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">


                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-title"></h4>
                        <button type="button" class="close" onclick="closePopUp()" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span id="modal-message"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="closeButton" onclick="closePopUp()" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        @*<div class="form-group">
            <form name="add_name" id="add_name">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dynamic_field">
                        <tr>
                            <td><input type="text" name="name[]" placeholder="P0 commment" class="form-control name_list" /></td>
                            <td><button type="button" name="add" id="add-btn" class="btn btn-success">Add More</button></td>
                        </tr>
                    </table>
                    <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />
                </div>
            </form>
        </div>*@

    <script src="~/Scripts/JQuery3.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap4.js"></script>
    <script src="~/Scripts/index.js?Version=5"></script>
</body>
</html>