﻿/*html, body {
    margin: 2px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;    
}*/

#calendar {
    float:left;
    width:69%;
    padding:0 20px;
}
#slide {
    display: block;
    float: left;
    width: 15%;
    top: 100px;
    text-align: center;
    height: 99%;
    overflow: auto;
    border: solid;
    border-color: lightgrey;
    visibility: hidden;
    border-width: 1px;
    margin-left: 0.5%;
}

#ulist{
    cursor:pointer;
    display:none;
}

#userLabelDiv{
    cursor:pointer;
}

#desc1 {
    margin-left: 8px;
}

@media only screen and (max-width:650px) {
    /*For mobile phones:*/ 
    #calendar {
        width: 100%;
        margin: 1px;
    }

    #slide {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
        max-height: 300px;
        height: auto;
        font-size: 12px;
    }

    #calendar-body {
        overflow: scroll;
    }
}
#slideContainer {
color: white;
width: 90%;
height: 97%;
padding-left: 5%;
}

.popper,
.tooltip {
    position: absolute;
    z-index: 9999;
    background: rgb(14, 11, 4);
    color: rgb(253, 253, 253);
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    opacity: 1;
    text-align: center;
}

.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}
.fc-event {
cursor:pointer; 
}


.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: rgb(14, 11, 4);
}

.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

    .popper[x-placement^="top"] .popper__arrow,
    .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

    .tooltip[x-placement^="bottom"] .tooltip-arrow,
    .popper[x-placement^="bottom"] .popper__arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}

    .popper[x-placement^="right"] .popper__arrow,
    .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

    .popper[x-placement^="left"] .popper__arrow,
    .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip-inner {
    white-space: pre-wrap;
}

.navbarLeft {
    float: left;
    display: inline-flex;
}

.navbarRight {
    float : right; 
    display : inline-flex;
}

.navbar-brand {
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 16px;
    padding-bottom:0px;
    padding-top:0px;
}
.navbar-icon {
    padding-left: 14px;
    padding-right: 14px
}
#calendar-body {
    padding-top: 5px;
    height: 95vh;
    overflow-y: hidden;
}

.fc-event .fc-content {
    color:white;
}

.uName {
    color: azure;
    margin-top: 14.7px;
}

#groups {
    display: block;
    float: left;
    width: 15%;
    top: 100px;
    height: 99%;
}

#groups #userlist {
    float:left;
    width:100%;
    top: 100px;
    overflow:hidden;
    margin-top:20px;
    padding-left: 10px;
    border:solid;
    border-color:lightgrey;
    border-width:1px;
    
}
#userinfo {
    width: 98%;
    top: 100px;
    overflow: auto;
    margin-top: 5px;
    padding-left: 10px;
    height: 87%;
    border: solid;
    border-color: lightgrey;
    border-width: 1px;
}

#groups #desc{
    display:block;
    float:left;
    width:100%;
    overflow:auto;
    height:100%;
    visibility:hidden;
    border:solid;
    border-color:lightgrey;
    border-width:1px;
}

#groups #source {
    max-width: 100%;
    margin-bottom: 5px;
    margin-right: 20px;
    width: 98%;
}
#loading {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 100
}
.loader-1 {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader-1-spin 1s linear infinite;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

@keyframes loader-1-spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

@media only screen and (max-width: 650px) {
    /*For mobile phones:*/ 
    #groups {
        width: 100%;
        height: 750px;
        margin-top: 15px;
        font-size: 12px;
    }

    #source {
        width: 90%;
    }
}


a[href], input[type='submit'], input[type='image'],input[type='radio'], select, button, .pointer,canvas {
    cursor:pointer;
    }

