﻿#loader-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 100
}

.hidden {
    display: none
}

.loader-0 {
    width: 120px;
    height: 120px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.loader-1 {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader-1-spin 1s linear infinite;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

@keyframes loader-1-spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.radio {
    min-width: 80px
}

.radio input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #FFFFFF;
    top: 0;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 4px;
    outline: 0
}

/*.radio input:checked:before{
    position: absolute;
    font: 8px/1 'open sans', sans-serif;
    left: 5px;
    top: 3.5px;
    content: '\02143';
    transform: rotate(40deg)
}*/

/*.radio input::-ms-check::before {
    position: absolute;
    font: 8px/1 'Open Sans', sans-serif;
    left: 5px;
    top: 3.5px;
    content: '\02143';
    transform: rotate(40deg)
}*/

.radio input:hover {
    background-color: #f7f7f7
}

.radio input:checked {
    background-color: #f1f1f1
}

.radio input:checked[for='yes'] {
    background-color: #2EA566;
}
.radio input:checked[for='no'] {
    background-color: #E16166 ;
}
.radio input:checked[for='na'] {
    background-color: #85A7C9 ;
}

.radio span {
    position: relative;
    top: -2px;
    font: 15px/1.7 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer
}

.navbarLeft {
    float: left;
    display: inline-flex;
}

.navbarRight {
    float : right; 
    display : inline-flex;
}

table.table-bordered > thead > tr > th{
  border-style: hidden;
  border-bottom: 2px solid #B92026;
  color: #545454
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings'; 
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.glyphicon-edit:before {
    content: "\e065"
}
.glyphicon-remove-sign:before {
    content: "\e083"
}

/*.fa-user-circle-o {
    font-size: 22px !important;
}*/

.navbar-brand {
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 16px;
}

#approvalHeader {
    width: 175px;
    text-align: left;
    font: Bold 22px/30px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}
#parent-sign-off{
    padding-left: 15px;
    padding-right: 12px;
}
.table-header{
   color: #545454;
   font-size: 14px;
}
label {
    color: #545454;
    font-size: 16px !important;
}
.header-title{
    color: #707070;
    font-size: 22px !important;
}

#sign-off-container {
    align-items: center;
}

#btn-sign-off {
    float: right;
}

.sign-off-header {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: bold
}

.sign-off-img {
    margin-right: 12px
}

fieldset {
    width: 100%
}

#checklist_info {
    float: right;
    letter-spacing: 0;
    color: #E16166;
    opacity: 1;
    font-size: 12px;
}

#checklist_info img {
    vertical-align: unset;
}

#plt-text {
    width: 100%;
}

.loader-autosave {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: loader-1-spin 1s linear infinite;
}

.navbar-icon {
    padding-left: 14px;
    padding-right: 14px
}
#embedContainer {
    height: 800px;
    width: 100%;
    max-width: 1000px;
}