﻿.debug {
    border: 1px solid red
}

.no-pointer {
    pointer-events: none
}

body {
    background: #fafafa;
    font-family: Segoe UI, Regular;
}

.hint {
    font-size: 12px;
    font-style: italic
}

#site-container {
    background: #fff;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    min-height: 95%
}

.navbar-brand span {
    color: #fff
}

.table-legend {
    font-size: 20px;
    font-weight: 700;
    text-align: left!important;
    color: #B92026
}

#sign-off-container button {
    width: 123%;
    height: 35px;
    border: 0;
    background: 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1
}

#sign-off-container button span {
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    line-height: 100%;
    font-weight: 400;
    color: #fff
}

#sign-off-container #approve-btn {
    background-color: #2EA566
}

#sign-off-container #reject-btn {
    background-color: #E16166
}

#save-audit-btn{
    background-color: #0078d4;
    color: #fff!important
}
#submit-audit-btn {
    background-color: #00a274;
    color: #fff!important
}

#MAQLogo {
    height: 27px
}

#topPane {
    background-color: #B92026
}

.auditPass {
    background-color: #2EA566;
    opacity: 1;
    color: #fff;
    height: 35px;
    border: none;
    border-radius: 5px;
    width: 130%;
}

#RejectAudit,
#reset-checklist-btn {
    background-color: #E16166
}

#buttonRow {
    width: 100%;
    padding-top: 20px;
}

#buttonRow .row{
    float: right;
    margin-right: -2.3%;
    width: 18%;
}

#update-checklist {
    font-family: 'Segoe UI';
    font-size: 15px;
    float: left;
    margin: 0;
}

#checklist-textBox {
    height: 80%
}

#reviewers-bag {
    background-color: #fff
}

#userLabelDiv {
    padding-left: 14px;
    padding-right: 10px;
}

#userLabelDiv span {
    display: none;
}

#toolLabel {
    color: white;
    font-size: 16px;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

#PMApprovalMessage {
    text-align: center;
    font-weight: 700;
    margin-top: 3%;
    font-size: 18px
}

#p0-bug,
#p1-bug {
    cursor: pointer
}

.updateChecklistClass {
    background-color: #FFFFFF
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}
